body {
  background: #1B213B;
  color: #777;
  font-family: 'Roboto', Arial, sans-serif;
  height: 100vh;
  /* overflow: hidden; */
}

/* .body-bg {
  background: #F3F4FA !important;
} */

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

h2{
 font-weight: bold;
  color:  orange;
  text-align: center;
  font-size: 1.2em;
}
.box .apexcharts-xaxistooltip {
  background: #1B213B;
  color: #fff;
}
#wrapper{
text-align: center;
}
.row-padre{
  /* background: peru; */
  height: 100vh;;
}
.content-area {
  display: block;
  margin: 0 auto;
  /* background: blue; */
  /* height: 100vh; */
}

.box {
  background-color: rgba(38,45,71,.95);
  padding: 15px 10px; 
  border-radius: 4px; 
}
.mensaje-movil{
  display: none;
}
.apexcharts-yaxis-label{
  font-size: 1.4em!important;
}
.apexcharts-xaxis-label{
  font-size: 1.4em!important;
}
.titulo_principal{
  text-align: center;
  margin-top: 15px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  color: white;
  /* font-size: 4.2em; */
  text-transform: uppercase;
}
#chart {
  max-width: 650px;
  margin: 35px auto;
}
.apexcharts-legend-text{
  font-size: 1.3em!important;
  margin-bottom: 5px;
}
.apexcharts-legend{
  top: 40px!important;
}
section.perdida{
  margin-top: 20px;
}
section.perdida .box{
  border: 1px solid orange;
}
section.perdida span{
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: white;
}
section.casos-dia{
  margin-top: 20px;
  width: 100%;
}

.table{
 margin-bottom: 0;
}
section table thead{
  color:  orange;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

section table tbody{
  color:  white;
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
}

section.casos-semana{
  width: 100%;
  margin-top: 20px;
}


/*      EFECTO           */
/* ---- reset ---- */

/* ---- reset ---- */


canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

section .table td, .table th{
  border: none;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
@media (max-width:576px){
  .apexcharts-svg{
   display: none;
  }
  #linechart{
    display: none;
  }
  .mensaje-movil{
    display: block;
  }
  .mensaje-movil p{
    color: white;
    font-size: 1.2em;
    margin-top: 12px;
  }
  .apexcharts-yaxis-label{
  font-size: 15px!important;
  
}
.apexcharts-xaxis-label{
  font-size: 15px!important;
  }
  h2{
    font-size: 1em;
  }
}

@media (max-width:768px){
 .apexcharts-yaxis-label{
  font-size: .5em!important;
  
}
.apexcharts-xaxis-label{
  font-size: .5em!important;
  }
}

@media (max-width:992px){
.apexcharts-yaxis-label{
  font-size: 1em!important;
  
}
.apexcharts-xaxis-label{
  font-size: 1em!important;
  }
}